{% extends 'orthomodoweb/base.html' %}
{% block content %}
	<script>
		$(document).ready(function() {
			$('#id_scan_date').datepicker({ dateFormat: 'yy-mm-dd' });
			$('#id_print_date').datepicker({ dateFormat: 'yy-mm-dd' });
			$('#id_planned_collection_date').datepicker({ dateFormat: 'yy-mm-dd' });
		});
	</script>

	<h1>Add a new OrthoModoJob</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }} 	
		<input type="submit" value="Submit" />
	 </form>
	 <p>
	 <a href="{% url 'orthomodoweb:orthomodojob-open-list' %}">View All orthomodojobs</a>
	</p>
	<p>
	 <a href="{% url 'orthomodoweb:home' %}">Back to HOME</a>
	</p>
{% endblock %}
