{% extends 'orthomodoweb/base.html' %}
{% block content %}
	<div class="standard_page_container">
		<div class="standard_page_container_header">Clinicians: {{ total_clinicians }}</div>
	
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		
		{% if object_list  %}			
			<table>
				<tr>					
					<th class="header_group_2">ID</th>		
					<th class="header_group_2">Code</th>		
					<th class="header_group_2">Name</th>								
					<th class="header_group_2">Description</th>
				</tr>				
			{% for clinician in object_list  %}
				<tr>				
					<td><a href="{% url 'orthomodoweb:clinician-update' clinician.id %}">Clinician {{ clinician.id }}</a> </td>
					<td>{{ clinician.code }}</td>		
					<td>{{ clinician.name }}</td>
					<td>{{ clinician.description }}</td>
					</li>
				</tr>
			{% endfor %}
				
			</table>
		{% else %}
			<p>No Clinicians found.</p>
		{% endif %}
		 <p>
		 <a class = "button" href="{% url 'orthomodoweb:clinician-add' %}">Add Clinician</a>
		</p>
	</div>

{% endblock %}