{% extends 'orthomodoweb/base.html' %}
{% block content %}
	
	<div class="form_header">ADD New Clinician</div>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div class = "formcontainer_f">	
		<form action="" method="post">
			{% csrf_token %}
			
			<i class="fa fa-address-card-o" aria-hidden="true"></i> <label for="id_code">CODE*:</label>	
			<br />
			<input type="text" name="code" id="id_code" maxlength="200" placeholder = "Code" value = '{{ clinician.code }}'>
			<br />
			<i class="fa fa-user-o" aria-hidden="true"></i> <label for="id_name">NAME*:</label>	
			<br />
			<input type="text" name="name" id="id_name" maxlength="200" placeholder = "Name" value = '{{ clinician.name }}'>
			<br />
			<i class="fa fa-sticky-note-o" aria-hidden="true"></i> <label for="id_description">DESCRIPTION:</label>	
			<br />
			<textarea  rows="5" cols="120" name="description" id="id_description" placeholder = "Description">{{ clinician.description }}</textarea>
			<br />			
			<input class="button"type="submit" value="SAVE" />
		 </form>
		
	</div>	

{% endblock %}