{% extends 'orthomodoweb/base.html' %}
{% block content %}

	<h1>Patients</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if object_list  %}
		<ul>
		{% for patient in object_list  %}
		<p>
			<a href="{% url 'orthomodoweb:patient-update' patient.id %}">Patient {{ patient.id }}: <i>{{ patient.code }}</i> / {{ patient.reference_no }} / <strong>{{ patient.name }}</strong> / {{ patient.email }} / {{ patient.address }} / {{ patient.dob|date:"Y-m-d" }} </li></a>
		</p>
		{% endfor %}
			
		</ul>
	{% else %}
		<p>No Patients exist.</p>
	{% endif %}
	 <p>
	 <a href="{% url 'orthomodoweb:patient-add' %}">Add a NEW patient</a>
	</p>
	<p>
	 <a href="{% url 'orthomodoweb:home' %}">Back to HOME</a>
	</p>

{% endblock %}