{% extends 'orthomodoweb/base.html' %}
{% block content %}
	<div class="standard_page_container">
		<div class="standard_page_container_header">Lab Item Types: {{ total_labitemtypes }}</div>
	
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		
		{% if object_list  %}			
			<table>
				<tr>					
					<th class="header_group_2">ID</th>		
					<th class="header_group_2">Code</th>		
					<th class="header_group_2">Name</th>								
					<th class="header_group_2">Description</th>
				</tr>				
			{% for labitemtype in object_list  %}
				<tr>				
					<td><a href="{% url 'orthomodoweb:labitemtype-update' labitemtype.id %}">labitemtype {{ labitemtype.id }}</a> </td>
					<td>{{ labitemtype.code }}</td>		
					<td>{{ labitemtype.name }}</td>
					<td>{{ labitemtype.description }}</td>
					</li>
				</tr>
			{% endfor %}
				
			</table>
		{% else %}
			<p>No labitemtypes found.</p>
		{% endif %}
		 <p>
		 <a class = "button" href="{% url 'orthomodoweb:labitemtype-add' %}">Add Lab Item Type</a>
		</p>
	</div>

{% endblock %}