li a {
	color:green;
}

body {
	color:#33333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
	padding:10px;	
}

.frontpagelist {
	color:#504646;
	padding:10px;
	border: 1px solid #9ed0ec;
	margin:5px;
	list-style: none;
	float:left;
	background-color:#fdfde5;
	/* width: 10%; */
	width:100px;
	height:100px;
    /* padding-bottom: 10%; */
}

.frontpagelist:hover {
	background-color:#dddde0;
}

.frontpagelist_addnew {
	color:#fdfde5;
	font-size:1em;
	padding:10px;
	border: 1px solid #fdfde5;
	margin:5px;
	list-style: none;
	float:left;
	background-color:#9ed0ec;
	/* width: 10%; */
    /* padding-bottom: 10%; */
	width:100px;
	height:100px;
}

.frontpagelist_addnew:hover {
	background-color:#dddde0;
}
.bottompanel{
	position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
	padding:10px;
}
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}

#slider-range {
  width: 90%;
  margin: 0 auto;
}
#time-range {
  /* width: 400px; */
   width: 80%;
    
}
.ui-slider .ui-slider-handle {
   
    padding-left: 0px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
 }
 
 .page-header{
	border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
	padding:10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
 }
 
 .page-header h1{
	 color: #1a8222;
 }
 
 .userinfo{
	 /* float:right; */
	 /* font-size:1.5em; */
	 color:c5c5c5;
	 padding-left: 50px;
	 padding-bottom: 5px;
 }
  .page-footer{
	border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
	padding:10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-top:20px;
 }
 
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #bbb9b9;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.header_group_1{
	background-color:#fbfcfd;
}
.header_group_2{
	background-color:#bbdbfb;
}
.header_group_3{
	background-color:#f7dbac;
}
.header_group_4{
	background-color:#abf5bb;
}
.header_group_5{
	background-color:#f4f7cd;
}
.header_group_6{
	background-color:#fbd3c7;
}
.status{
	background-color:#eef5e9;
	font-style: italic;
}
.status_flagged{
	font-style: italic;
	background-color:#fbd3c7;
}
.thickborderleft{
	border-left: 2px solid #393a3c;
}
.emptylist{
	background-color:#fbd3c7;
}
.searchfield{
	width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	
}

.searchfield:focus {
    width: 40%;
}

.support_link{
	float:right;
}

#topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#topmenu li {
    float: left;
}

#topmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topmenu li a:hover {
    background-color: #111;
	color: #4CAF50;
}

.search_applied{
	padding:2px;
	background-color:#d4e6ce;
	color: #f33030;
}
.search_text{
	font-style:italic;
}

.button {

padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #4CAF50;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
text-decoration: none;
}
.button_red {

padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #f76060;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
text-decoration: none;
}
.button:hover, .button_red:hover{
	color: #000000;
	background-color: #ffffff;
}


.form_header{
	font-weight:bold;
	padding-left:10px;
	padding-bottom:10px;
	font-size:2em;	
    font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	background-color: #333;
	color:#fff;
}

.formcontainer{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	overflow:hidden;
	margin: 10px
	/* max-width: 600px; */
}

.formcontainer_f{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	overflow:hidden;
	margin: 10px
	/* max-width: 600px; */
}

.formcontainer input[type=text], .formcontainer textarea, .formcontainer select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	float:right;
}
.formcontainer label{
	/* display:block; */
	/* padding: 12px 20px; */
    /* margin: 8px 0; */
	/* float:left; */
	color: #595a59;
	font-weight:bold;
}
.formcontainer_f input[type=text], .formcontainer_f textarea, .formcontainer_f select {
   
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
  transform: scale(2);
  margin: 8px 0 0 8px;
}

.formcontainer_f label{
	/* display:block; */
	/* padding: 12px 20px; */
    /* margin: 8px 0; */
	/* float:left; */
	color: #595a59;
	font-weight:bold;
}

.formcontainer .column {
	float: left;
     padding: 10px;
	/* width: 400px; */
}
.form_left_container{
	 width: 25%;
}

.form_right_container{
	position: relative;
	/* width: 200px; */
    /* width: 500px; */
}

.bottom_action_links{
	/* border: 1px solid #ccc; */
	padding-top: 10px;
	padding-left: 10px;
}

.datatable_header{
	font-weight:bold;
	color:#a9a2a2;
	font-family: Verdana, Geneva, sans-serif;	
}

.datatable{
	padding: 10px;
}

.form_section{
	/* border: 2px solid #333333; */
	padding:10px;
	background-color: #ffffff;
}
.form_section_header{
	font-weight:bold;
	color:#4caf50;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ffffff;
}

#orthomodojob_accordion{
	padding: 10px;
    background-color: #fff;
}

.standard_page_container{
	background-color: #f2f2f2;
    padding: 10px;
}
.standard_page_container_header{
	font-weight:bold;
	padding-left:10px;
	padding-bottom:10px;
	font-size:2em;	
    font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	background-color: #333;
	color:#fff;
	margin-bottom: 6px;	
}

.searchbutton{
	border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	cursor:pointer;
	background-color: #4CAF50;
	padding:8px;
}

.frontpage{
	padding:20px;
}

.compact_table_cell{
	font-size:0.7em;
	/* font-family: monospace; */
	font-family: "Lucida Console", Monaco, monospace;
}

.compact_table_cell_normal_font{
	font-size:0.7em;
	padding:2px;
}
.form_highlight_box_1{
	border: 1px solid #888080;
    background-color: #f4fafd;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    width: 50%;
}

.guidepage{
	width:80%;
	padding:20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.2em;
}

li{
	padding:10px;
}