{% extends 'orthomodoweb/base.html' %}
{% block content %}
	<div class="standard_page_container">
		<div class="standard_page_container_header">Collection Types: {{ total_collectiontypes }}</div>
	
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		
		{% if object_list  %}			
			<table>
				<tr>					
					<th class="header_group_2">ID</th>		
					<th class="header_group_2">Code</th>		
					<th class="header_group_2">Name</th>								
					<th class="header_group_2">Description</th>
				</tr>				
			{% for collectiontype in object_list  %}
				<tr>				
					<td><a href="{% url 'orthomodoweb:collectiontype-update' collectiontype.id %}">collectiontype {{ collectiontype.id }}</a> </td>
					<td>{{ collectiontype.code }}</td>		
					<td>{{ collectiontype.name }}</td>
					<td>{{ collectiontype.description }}</td>
					</li>
				</tr>
			{% endfor %}
				
			</table>
		{% else %}
			<p>No collectiontypes found.</p>
		{% endif %}
		 <p>
		 <a class = "button" href="{% url 'orthomodoweb:collectiontype-add' %}">Add Collection Type</a>
		</p>
	</div>

{% endblock %}